<div class="dog">
<%#byebug%>


  <h2><%= @dog.name %></h2>
  <p>Breed: <%= @dog.breed %></p>
  <p>Age: <%= @dog.age %></p>
  <p>Notes: <br><%= @dog.notes %><br><br>

  <p><%= button_to "edit", edit_dog_path(@dog.id), {method: :get} %></p><br>

  <p><%= button_to "delete", delete_dog_path(@dog.id), {method: :delete} %></p><br>


    </div>
