<% if session[:user_id] %>

<div class="center">
  <%= "Welcome to Walk-eze #{@user.name}! " %><br><br>

  <%= "Currently, Walkeeze's most active dog is:" %>
</div>




  <p><%= button_to "Go to your Page", user_path(@user), {method: :get} %></p>
  <p><%= button_to "Book a Walk", walks_path, {method: :get} %></p><br>

<% else %>

<div id="tagline">
  <%= "Walk-eze - the easiest way to get your dog walked!" %><br><br>
</div>


<div class="row">

  <div class="column6" id="log-in">

    <p>
      <strong>Don't use GitHub?</strong><br>
      login below.
    </p>

    <%= form_tag "/login" do %>
      <div class="field">
        <%= label_tag :email, "Email" %><br>
        <%= text_field_tag :email %>
      </div>
      <div class="field">
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Login" %></div>
       or<br /> <%= link_to "Create an account", new_user_path %>
    <% end %>

  <% end %>

  </div>
  <div class="column6" id="log-in">
    <p>
      <strong>Are you a Walker?</strong><br>
      login below.
    </p>
  <%= form_tag "/walker_login" do %>
    <div class="field">
      <%= label_tag :email, "Email" %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Login" %></div>
      <% end %>
      or<br /> <%= link_to "Create a walker account", new_walker_path %>
    </div>
</div>
