<% if session[:user_id] %>

    <%= "Currently, Walkeeze's most active dog is:" %>
    <%= "#{Dog.most_walks.name}, with a total of #{Dog.most_walks.dogs_walks.count} walks!" %><br><br>



  <%= "Welcome to Walk-eze #{@user.name}! " %><br><br>


  <p><%= button_to "Go to your Page", user_path(@user), {method: :get} %></p>
  <p><%= button_to "Book a Walk", walks_path, {method: :get} %></p><br>
<% else %>
<%= "Walk-eze - the easiest way to get your dog walked!" %><br><br>


  <%= "Join our most active dog #{Dog.most_walks.name}, who so far has a total of #{Dog.most_walks.dogs_walks.count} walks!" %><br><br>


  <p>
    <strong>Don't use GitHub?</strong><br>
    <%= link_to "Create an account", new_user_path %> or login below.
  </p>

  <%= form_tag "/login" do %>
    <div class="field">
      <%= label_tag :email, "Email" %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Login" %></div>
  <% end %>
  <img class="responsive-img" src="cool_pic.jpg">
<% end %>
